.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: $dark;

    h1 {
        font-family: $forum;
        font-size: 30px;
        line-height: 167%;
        letter-spacing: 0.02em;
        color: $white;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 40px;

        ul {
            display: flex;
            gap: 30px;
    
            a {
                font-family: $inter;
                font-size: 20px;
                line-height: 250%;
                color: $white;
                text-decoration: none;

                &:hover {
                    color: $sand;
                }
            }
        }

        @include tablet {
            display: none;
        }
    }

    .hamburger {
        display: none;

        @include tablet {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 40px;
            padding-right: 20px;

            .icon-profile {
                position: relative;
                z-index: 3;
            }

            .lines {
                display: flex;
                flex-direction: column;
                gap: 10px;
                z-index: 3;

                .line {
                    width: 45px;
                    height: 0;
                    border: 2px solid $white;
                    transform-box: fill-box;
	                transform-origin: center;
                    transition: transform 0.5s ease-out;
                }

                .active-line-1 {
                    transform: translateY(10px) rotate(-225deg);
                    position: relative;
                    right: 6.5px;
                }
                  
                .active-line-2 {
                    position: relative;
                    transform: translateX(100px) rotate(225deg);
                }
                  
                .active-line-3 {
                    transform: translateY(-14.5px) rotate(225deg);
                    position: relative;
                    right: 6.5px;
                }
            }
        }
    }

    .tablet-menu {
        display: none;

        @include tablet {
            top: -900%;
            position: absolute;
            left: 436px;
            z-index: 2;
            width: 332px;
            height: 570px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $black;
            transition: all ease-in-out .5s;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
        
                a {
                    font-family: $inter;
                    font-size: 20px;
                    line-height: 250%;
                    color: $white;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: $sand;
                    }
                }
            }

            &.active {
                top: 0;
            }
        }
    }

    .dropMenu {
        position: absolute;
        top: -200%;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 115px;
        background-color: $white;
        z-index: 3;
        transition: all 0.3s ease-in-out;

        &__card {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }

        &__card-link {
            font-family: $inter;
            font-weight: bold;
            font-size: 15px;
            line-height: 133%;
            color: $black;
        }

        &__card-hr {
            width: 40px;
            margin: 0;
            border: 1px solid $sand;
        }

        &__profile {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            & a {
                font-family: $inter;
                font-size: 15px;
                line-height: 133%;
                color: $black;
            }
        }

        a {
            cursor: pointer;

            &:hover {
                color: $sand;
            }
        }

        &.active {
            top: 70px;
            right: 20px;

            @include tablet {
                right: 100px;
            }
        }

        @include tablet {
            right: 100px; 
        }
    }

    .register {
        display: none;
    }
}