// Title blocks
%title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%title {
    font-family: $forum;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: $dark;
    margin: 20px;
}

%hr {
    width: 50px;
    border: 1px solid $dark;
    margin-top: 7px;
}

//------------------------------//
// About block

//------------------------------//
// Favorites books

%books {
    .books {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 590px;
        height: max-content;

        &__wrapper {
            display: flex;
            flex-direction: column;
            width: 550px;
            min-height: 555px;
            border: 1px solid $black;
    
            header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 14px 0 0 19px;
    
                h3 {
                    font-family: $forum;
                    font-size: 20px;
                    line-height: 200%;
                    letter-spacing: 0.1em;
                    color: $black;
                }
    
                hr {
                   @extend %hr-books;
                }
            }
        }

        &__body {
            margin: 20px 0 0 19px;
            display: flex;
            flex-direction: column;

            button {
                margin-top: 15px;
                margin-bottom: 14px;
                width: 75px;
                height: 30px;
                font-family: $inter;
                font-weight: bold;
                font-size: 10px;
                letter-spacing: 0.1em;
                color: $dark;
                background-color: $white;
                border: 1px solid $dark;
                border-radius: 2px;
                cursor: pointer;

                &:hover {
                    border: 1px solid $sand;
                    color: $sand;
                }
            }
        }

        &__title {
            h4 {
                font-family: $inter;
                font-weight: bold;
                font-size: 15px;
                line-height: 267%;
                letter-spacing: 0.13em;
                color: $black;
            }
    
            p {
                font-family: $inter;
                font-weight: bold;
                font-size: 15px;
                line-height: 267%;
                letter-spacing: 0.13em;
                color: $black;
            }
        }

        &__text {
            margin-top: 20px;
            max-width: 355px;
    
            p {
                font-family: $inter;
                font-size: 15px;
                line-height: 267%;
                letter-spacing: 0.13em;
                color: $black;
                min-height: 320px;
                text-transform: capitalize;
            }
        }

        .books-img {
            position: absolute;
            z-index: 1;
            right: 0%;
            bottom: 0%;
            width: 200px;
            height: 300px;
        }
    } 
}

%hr-books {
    border: 1px solid $sand;
    width: 60px;
    margin: 0;
}

%key-frames {
    .books-wrapper:not(.fadeOut) {
        animation: fadeIn 0.5s forwards;
    }

    .books-wrapper.fadeOut {
        animation: fadeOut 0.5s forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0.25;
        }

        50% {
            opacity: 0.5;
        }

        70% {
            opacity: 0.75;
        }

        100% {
            opacity: 1;
            z-index: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        25% {
            opacity: 0.25;
        }

        50% {
            opacity: 0.5;
        }

        70% {
            opacity: 0.75;
        }

        100% {
            opacity: 0;
        }
    }
}
//------------------------------//
// Contacts block

%contacts__info-style {
    font-family: $inter;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: $black;
}

//------------------------------//
// Garbage